/* 1200 */
@media (max-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}



/* 1024 */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .header .logo img {
        width: 200px;
    }

    .header .menu {
        display: none;
    }

    .header .registration {
        display: none;
    }

    .main .container {
        display: block;
        padding: 10px 0;
    }

    .main .left .get-started {
        margin-top: 35px;
    }

    .main .left {
        margin-bottom: 45px;
    }

    .info .cards {
        margin-top: 20px;
    }

    .features {
        margin-top: 50px;
    }

    .features .container {
        display: block;
        gap: 150px;
        align-items: center;
    }

    .features .left {
        margin-bottom: 45px;
    }
    .choose-plan .plans {
        gap: 15px;
    }
}

/* 768 */
@media (max-width: 768px) {
    .container {
        max-width: 425px;
    }

    .main .right img {
        width: 100%;
    }

    .info .cards {
        flex: 1 1 100%;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        height: auto;
        padding: 50px;
        gap: 30px;
        align-items: flex-start;
    }

    .features .left img{
        width: 100%;
    }

    .choose-plan .plans {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/* 425 */
@media (max-width: 425px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    .header .container {
        padding: 50px 10px;
    }

    .main .container {
        padding: 90px 10px;
    }
}